
body {
    display: flex;
    align-content: center;
    /* text-align: center; */
    font-family: sans-serif;

}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 2px solid black ;
    cursor: pointer;
    margin: 8px;

}

.grid-pixel {
    box-sizing: border-box;
    border: 1px dashed black;
    background-color: rgb(230, 222, 222);
    opacity: 50%;
}
.resolution {
    display: flex;
    gap: 4px;
}

.color-picker {
    display: flex;
    flex-direction: column;
    margin: 8px;
    gap: 16px
}
